[Unit]
Description=Update and verify the geoip-api container
Requires=snap.docker.dockerd.service
After=snap.docker.dockerd.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/geoip-api-update
