[Unit]
Description=Weekly geoip-api image and GeoLite2 database update

[Timer]
OnCalendar=Sun *-*-* 03:30:00
RandomizedDelaySec=4h
Persistent=true
Unit=geoip-api-update.service

[Install]
WantedBy=timers.target
